body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    size: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

main{
    align-items: center;
    max-width: 95vh;
    padding: 10px;
    background-color: aliceblue;
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 8px;
}

.div2{
    align-items: center;
    max-width: 20vh;
    padding: 20px;
    margin: 10px auto;
    background-color: transparent;
    margin-top: 40px;
    margin-left: 3%;
}

h1{
    color: rgba(9,9,121,1);
    font-family: Arial, Helvetica, sans-serif;
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    align-self: center;
}

h2{
    color: rgba(9,9,121,1);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,36,4);
    color: linear-gradient(90deg, rgba(0,36,4,1) 0%, rgba(21,133,8,1) 0%, rgba(94,121,9,1) 30%, rgba(153,156,7,1) 54%, rgba(241,255,0,1) 76%);
    align-self: center;
}

h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: rgba(9,9,121,1);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,36,4);
    color: blue;
    align-self: center;
}

nav{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    align-items: end;
    position: absolute;
    top: 10px;
    width: 95vh;
    height: 3vh;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
}

button{
    background-color: transparent;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: none;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

button:hover{
    background: rgb(0,36,4);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(0,36,4,1) 0%, rgba(48,9,79,1) 0%, rgba(109,27,176,1) 34%, rgba(109,7,156,1) 77%, rgba(132,0,255,1) 100%);
    align-self: center;
    
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

section{
    margin-left: 30px;
    display: flex;
    height: 200px;
    width: 80vh;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    filter: contrast(120%);
}

.modal-container{
    display: inline-block;
    position: relative;
}

.modal-container img{
    z-index: 1;
}

.section img::after{
    content: '';
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.56);
    z-index: 0;
}